In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
ratings_columns = ['userID','movieID','rating','timestamp']
ratings_df = pd.read_csv(r'ml-25m\ratings.csv',names=ratings_columns,
                         skiprows=1,nrows=5000000)

In [51]:
movies_columns = ['movieID','title','genre']
movies_df = pd.read_csv(r'ml-25m\movies.csv',names=movies_columns,skiprows=1)

In [52]:
df = pd.merge(ratings_df,movies_df,on='movieID')

In [54]:
pvt = df.pivot_table(index='userID',columns='title',values='rating')

In [57]:
movie_input = 'Inception (2010)'
rating_input = pvt[movie_input]
similar_input = pvt.corrwith(rating_input)
correlation_input = pd.DataFrame(similar_input,columns=['Correlation'])

In [64]:
correlation_input.dropna(inplace=True)
correlation_input.sort_values('Correlation',ascending=False)

                                            Correlation
title
Salt and Fire (2016)                                1.0
Once Upon a Time Twenty Years Later (1981)          1.0
Alice's Wonderland (1923)                           1.0
We Are Not Angels (1992)                            1.0
Noma: My Perfect Storm (2015)                       1.0
...                                                 ...
Tom and Jerry Meet Sherlock Holmes (2010)          -1.0
The Dark Hour (2007)                               -1.0
S*P*Y*S (1974)                                     -1.0
Blind (Beul-la-in-deu) (2011)                      -1.0
Pumzi (2009)                                       -1.0

[23222 rows x 1 columns]

In [100]:
rating_stats = df.groupby('title')['rating'].agg(['mean','count'])

In [105]:
correlation_input = correlation_input.join(rating_stats['count'])

In [117]:
correlation_input[correlation_input['count']>1500].sort_values('Correlation',ascending=False)

                                        Correlation  count
title
Inception (2010)                           1.000000   7826
Interstellar (2014)                        0.468282   4572
Shutter Island (2010)                      0.450315   3813
Prestige, The (2006)                       0.412156   4649
Dark Knight, The (2008)                    0.406544   8175
...                                             ...    ...
Father of the Bride Part II (1995)        -0.060186   2339
Under Siege 2: Dark Territory (1995)      -0.075716   1593
Sabrina (1995)                            -0.081326   2395
Truth About Cats & Dogs, The (1996)       -0.104357   2764
Beavis and Butt-Head Do America (1996)    -0.121069   1685

[813 rows x 2 columns]